<!-- Start banner Area -->
<section class="banner-area relative" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">
          Administrar Competencias
        </h1>
      </div>
    </div>
  </div>
</section>
  <!-- End banner Area -->
<div *ngIf="readyToShow">
  <!-- Start choosing Area -->
  <section class="whole-wrap section-gap" *ngIf="!competitionSelected">
    <div class="container">
      <div class="row">
        <div class="offset-md-2 col-md-8 col-xs-12">
          <h3 class="text-center mb-3">Seleccione la competencia que desea editar</h3>
          <div class="busqueda" id="searchFormEdit">
            <input [(ngModel)]="searchQuery" type="text" title="Digite aquí el nombre de la competencia" id="searchTermEdit" placeholder="Digite el nombre de la competencia" />
            <button type="button" id="searchEdit" title="Click aquí para buscar la competencia" (click)="searchCompetition()">Buscar</button>
          </div>
          <div class="text-center">
            <h4 class="mt-4 mb-0">Resultados</h4>
            <div class="mt-4 mb-4">
              <button title="Agregar nueva" class="invite-btn genric-btn text-center primary medium" (click)="edit(-1)">Crear nueva competencia</button>
            </div>
            <div>
              <table class="table">
                <thead>
                <th><h5 class="text-center">Nombre</h5></th>
                <th><h5 class="text-center">Fecha de Inicio</h5></th>
                <th><h5 class="text-center">Administrador</h5></th>
                <th><h5 class="text-center">Editar</h5></th>
                <th><h5 class="text-center">Eliminar</h5></th>
                </thead>
                <tbody>
                <tr *ngFor="let competition of showedCompetitions; let i = index">
                  <td><h5 >{{competition?.name}}</h5></td>
                  <td><h5 >{{competition?.starting_date |  date:'MM/dd/yyyy'}}</h5></td>
                  <td><h4 >{{competition?.user.username}}</h4></td>
                  <td>
                    <button title="Editar" class="invite-btn genric-btn circle text-center warning medium wide-button" (click)="edit(i)">Editar</button>
                  </td>
                  <td>
                    <button title="Eliminar" class="invite-btn genric-btn circle text-center danger medium wide-button" (click)="deleteCompetition(competition.id)">Eliminar</button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="row">
              <div class="col-md-12 mt-10 text-center">
                <div class="d-inline-block">
                  <ngb-pagination [collectionSize]="totalCompetitions" [(page)]="currentPageCompetition" [maxSize]="5" [pageSize]="pageSize" [rotate]="true"
                                  [ellipses]="true" [boundaryLinks]="false" (pageChange)="competitionPageChange($event)"></ngb-pagination>
                </div>
              </div>
            </div>
            <div align="center">
              <div *ngIf="deleted" class="alert col-lg-6 mt-10 text-center" role="alert" [class.alert-success]="messageType" [class.alert-danger]="!messageType">
                {{alertMessage}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End choosing Area -->

  <!-- Start tab Area -->
  <section class="whole-wrap section-gap pb-0" *ngIf="competitionSelected">
    <div class="container">
      <div class="text-center">
        <button title="Volver a seleccioanr" class="invite-btn genric-btn text-center medium info mb-4" (click)="goBack()">Cambiar de competencia</button>
      </div>
      <div class="row">
        <div class="col-md-6">
          <button title="Detalles" class="invite-btn genric-btn text-center medium wide-button" [class.primary]="activeTab == 0" [class.primary-border]="activeTab != 0" (click)="changeTab(0)">Detalles de la competencia</button>
        </div>
        <div class="col-md-6">
          <button title="Competidores" class="invite-btn genric-btn text-center medium wide-button" [class.primary]="activeTab == 1" [class.primary-border]="activeTab != 1" (click)="changeTab(1)">Administrar competidores</button>
        </div>
      </div>
    </div>
  </section>
  <!-- End tab Area -->

  <!-- Start form Area -->
  <section class="whole-wrap section-gap pt-5" *ngIf="competitionSelected && activeTab == 0">
    <div class="container">
      <div class="row">
        <div class="offset-md-2 col-md-8 col-xs-12">
          <h3 class="text-center mb-3">Detalles de la competencia</h3>
          <div class="booking-right mt-50" align="center">
            <form #competitionForm="ngForm">
              <div class="row mt-10 mb-10">
                <div class="col-lg-12">
                  <label for="name">Nombre</label>
                  <input class="text-input" type="text" [(ngModel)]="name" #nameInput="ngModel" id="name" name="name" placeholder="Nombre de la competencia" required>
                  <div *ngIf="(nameInput?.invalid) && (nameInput?.touched)" class="alert alert-danger mt-2 ml-2 mr-2" role="alert">
                    <p class="alert-message">Debe introducir un nombre para la competencia.</p>
                  </div>
                </div>
              </div>
              <div class="row mb-10">
                <div class="col-lg-6 mb-3">
                  <label for="is_active">Estado</label>
                  <select class="select-input" [(ngModel)]="is_active" #isActiveInput="ngModel" name="is_active" id="is_active" required>
                    <option value="1" selected>Activo</option>
                    <option value="0">Inactivo</option>
                  </select>
                  <div *ngIf="(isActiveInput?.invalid) && (isActiveInput?.touched)" class="alert alert-danger mt-2 ml-2 mr-2" role="alert">
                    <p class="alert-message">Debe seleccionar el estado de la competencia.</p>
                  </div>
                </div>
                <div class="col-lg-6 mb-3">
                  <label for="admin_id">Administrador</label>
                  <select class="select-input" [(ngModel)]="admin_id" #AdminIdInput="ngModel" name="admin_id" id="admin_id" required>
                    <option *ngFor="let user of allUsers" value="{{user.id}}">{{user.username}}</option>
                  </select>
                  <div *ngIf="(AdminIdInput?.invalid) && (AdminIdInput?.touched)" class="alert alert-danger mt-2 ml-2 mr-2" role="alert">
                    <p class="alert-message">Debe seleccionar el administrador de la competencia.</p>
                  </div>
                </div>
                <div class="col-lg-6 mb-3">
                  <label for="starting_date">Fecha de Inicio</label>
                  <input class="date-input" type="datetime-local" [(ngModel)]="starting_date" #startingDateInput="ngModel" name="starting_date" id="starting_date" required><br>
                  <div *ngIf="(startingDateInput?.invalid) && (startingDateInput?.touched)" class="alert alert-danger mt-2 ml-2 mr-2" role="alert">
                    <p class="alert-message">Debe escoger una fecha de inicio para la competencia.</p>
                  </div>
                </div>
                <div class="col-lg-6 mb-3">
                  <label for="finishing_date">Fecha de Finalización</label>
                  <input class="date-input" type="datetime-local" [(ngModel)]="finishing_date" #finishingDateInput="ngModel" id="finishing_date" name="finishing_date"  required><br>
                  <div *ngIf="(finishingDateInput?.invalid) && (finishingDateInput?.touched)" class="alert alert-danger mt-2 ml-2 mr-2" role="alert">
                    <p class="alert-message">Debe escoger una fecha de finalización para la competencia.</p>
                  </div>
                </div>
                <div class="col-lg-6" align="center">
                  <label for="is_public">Privacidad</label>
                  <select class="select-input" [(ngModel)]="is_public" #isPubliceInput="ngModel" name="is_public" id="is_public" required>
                    <option value="1" selected>Público</option>
                    <option value="0">Privado</option>
                  </select>
                  <div *ngIf="(isPubliceInput?.invalid) && (isPubliceInput?.touched)" class="alert alert-danger mt-2 ml-2 mr-2" role="alert">
                    <p class="alert-message">Debe seleccionar la privacidad de la competencia.</p>
                  </div>
                </div>
                <div class="col-lg-6" align="center">
                  <label for="rally_id">Rally asociado</label>
                  <select class="select-input" [(ngModel)]="rally_id" #rallyIdInput="ngModel" name="rally_id" id="rally_id" required>
                    <option *ngFor="let rally of ralliesList" value="{{rally.id}}">{{rally.name}}</option>
                  </select>
                  <div *ngIf="(rallyIdInput?.invalid) && (rallyIdInput?.touched)" class="alert alert-danger mt-2 ml-2 mr-2" role="alert">
                    <p class="alert-message">Debe seleccionar un rally para la competencia.</p>
                  </div>
                </div>
              </div>
              <div class="row mb-10">
                <div class="col-lg-12" align="center">
                  <label for="description">Descripción</label>
                  <textarea class="text-input text-area" [(ngModel)]="description" #descriptionInput="ngModel" id="description" name="description" placeholder="Descripción de la competencia"> </textarea>
                </div>
              </div>
            </form>
          </div>
          <div class="mt-50" align="center">
            <button title="Crear Competencia" class="btn genric-btn success col-lg-6" style="font-size: 16px" (click)="saveChanges()" [disabled]="competitionForm.invalid" *ngIf="newCompetition || currentCompetition">Guardar cambios</button>
            <div *ngIf="changesSaved" class="alert col-lg-6 mt-10" role="alert" [class.alert-success]="messageType" [class.alert-danger]="!messageType">
              {{alertMessage}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End form Area -->

  <!-- Start statistics Area -->
  <section class="whole-wrap section-gap pt-5" *ngIf="competitionSelected && activeTab == 1">
    <div class="container">
      <div class="row">
        <div class="offset-md-2 col-md-8 col-xs-12">
          <h3 class="text-center mb-3">Detalles de los participantes</h3>
          <div align="center">
            <div>
              <table class="table">
                <th>Usuario</th>
                <th>Puntos</th>
                <th>Fecha Inicio</th>
                <th>Eliminar</th>
                <tbody *ngFor="let participant of statistics; let i = index">
                <tr [class.selected-row] = "isUserStatisticClicked(i)" title="Haz click para ver más detalles">
                  <td (click)="userStatisticClicked(i)" class="cursor-pointer">
                    <div class="input-group">
                      <h4>{{participant.user.username}}</h4>
                      <span class="input-group-btn ml-2">
				          <i class="fa fa-angle-down"></i>
			            </span>
                    </div>
                  </td>
                  <td><h5>{{participant.points}}</h5></td>
                  <td><h5>{{participant.starting_date |  date:'MM/dd/yyyy'}}</h5></td>
                  <td><button title="Eliminar de la competencia" class="genric-btn circle text-center small" [class.danger]="!isUserStatisticClicked(i)" [class.danger-border]="isUserStatisticClicked(i)" (click)="deleteStatistic(participant.id)">Eliminar</button></td>
                </tr>
                <tr *ngIf="isUserStatisticClicked(i)" class="selected-row-child">
                  <td colspan=4>
                    <h4 class="mt-3 mb-3">Sitios visitados</h4>
                    <table class="table">
                      <th>Sitio</th>
                      <th>Puntos</th>
                      <th>Fecha</th>
                      <th>Eliminar</th>
                      <tbody *ngFor="let site of participant.site">
                      <tr>
                        <td><h4>{{site.name}}</h4></td>
                        <td><h5>{{site.points}}</h5></td>
                        <td><h5>{{site._joinData.visited_date |  date:'MM/dd/yyyy'}}</h5></td>
                        <td><button title="Eliminar estadística" class="genric-btn circle text-center small danger" (click)="deleteStatisticSite(site._joinData.id)">Eliminar</button></td>
                      </tr>
                      </tbody>
                    </table>
                    <h4 class="mt-3 mb-3">Actividades completadas</h4>
                    <table class="table">
                      <th>Actividad</th>
                      <th>Puntos</th>
                      <th>Fecha</th>
                      <th>Eliminar</th>
                      <tbody *ngFor="let activity of participant.activity">
                      <tr>
                        <td><h4>{{activity.name}}</h4></td>
                        <td><h5>{{activity._joinData.points_obtained}}</h5></td>
                        <td><h5>{{activity._joinData.resolved_date |  date:'MM/dd/yyyy'}}</h5></td>
                        <td><button title="Eliminar estadística" class="genric-btn circle text-center small danger" (click)="deleteStatisticActivity(activity._joinData.id)">Eliminar</button></td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                </tbody>
              </table>
              <div *ngIf="deleted" class="alert col-lg-6 mt-10" role="alert" [class.alert-success]="messageType" [class.alert-danger]="!messageType">
                {{alertMessage}}
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  <!-- End statistics Area -->
</div>