<app-public-header [activeTab]="3" *ngIf="!user"></app-public-header>
<app-header [activeTab]="2" *ngIf="user"></app-header>
<!-- Start banner Area -->
<section class="banner-area relative" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">
          Acerca De Nosotros
        </h1>
        <p class="text-white link-nav"><a routerLink="/dashboard">Inicio </a>  <span class="lnr lnr-arrow-right"></span>  <a routerLink="/about_us">Acerca De Nosotros</a></p>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!--Start about-us Area -->

<!--Start CICG area -->
<section class="home-about-area section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 home-about-left">
        <h6 class="text-uppercase">El CICG: Centro de Investigaciones en Ciencias Geológicas</h6>
        <h1>¿Quiénes somos?</h1>
        <br>
        <p>
          <span>Origen</span>
        </p>
        <p>
          El Centro de Investigaciones en Ciencias Geológicas, fue creado en la sesión N. 5186, del Consejo Universitario
          de la Universidad de Costa Rica, efectuada el 29 de agosto del 2007. Su reglamento específico fue aprobado por
          la Rectoría en resolución R-4329-2009 y publicado en el Alcance a la Gaceta Universitaria N.9-2009 del 14 de
          julio del 2009.
        </p><br>
        <p>
          El Centro de Investigaciones en Ciencias Geológicas (CICG) es una unidad de investigación científica de carácter
          multidisciplinario, dedicada al estudio de los procesos geológicos que han dado origen al planeta y lo continúan
          modificando. Esto con el propósito de brindar a la sociedad los insumos necesarios para una gestión adecuada de
          los recursos geológicos, del territorio y del riesgo.
        </p>
      </div>
      <div class="col-lg-6 home-about-right">
        <img class="mx-auto d-block img-fluid" src="{{assetsUrl}}../assets/images/sites/18/c.png" alt="">
        <br><br>
        <img class="mx-auto d-block img-fluid" src="{{assetsUrl}}../assets/images/ucr/logo_cicg.png" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 home-about-left">
        <p>
          <span>Objetivo General</span>
        </p>
        <p>
          Investigar los procesos geológicos que han dado origen al planeta y lo continúan modificando, esto con el
          propósito de brindar a partir de la investigación, docencia y acción social, los insumos necesarios para una
          gestión adecuada de los recursos geológicos, del territorio y del riesgo.
        </p>
        <br>
        <p>
          <span>Objetivos Específicos</span>
        </p>

        <ul class="unordered-list-about-us">
          <li>Promover y apoyar estudios científicos sobre la historia y características de los diferentes ambientes
            geológicos.</li>
          <li>Realizar estudios científicos y técnicos en todas las ramas de la Geología.</li>
          <li>Investigar los procesos de geodinámica interna y externa, con el fin de contribuir al conocimiento y
            mejoramiento de los sistemas de gestión y reducción del riesgo.</li>
          <li>Relacionar las actividades de investigación, sus métodos y resultados, a la experiencia docente de diversas
            unidades académicas, de tal forma que la investigación y la docencia se integren, para una mejor formación
            académica del educando, tanto a nivel de grado como de posgrado.</li>
          <li>Realizar programas y actividades de Acción Social, con el propósito de beneficiar a la sociedad con los
            logros alcanzados en investigación.</li>
        <li>Propiciar la investigación multidisciplinaria, transdisciplinaria e intradisciplinaria, en conjunto con
          instituciones nacionales e internacionales.</li>
        </ul>

      </div>
      <div class="col-lg-6 home-about-right">

        <p>
          <span>Misión</span>
        </p>
        <p>
          Investigar los procesos geológicos que han dado origen al planeta y lo continúan modificando, esto con el
          propósito de brindar a partir de la investigación, docencia y acción social, los insumos necesarios para una gestión adecuada de los recursos geológicos, del territorio y del riesgo.
        </p>
        <br>
        <p>
          <span>Visión</span>
        </p>
        <p>
          Incidir en la transformación de la sociedad,  a partir de la investigación, docencia y acción social generada
          en el CICG, sobre los efectos geológicos en el ordenamiento territorial, que contemple la gestión del riesgo,
          la gestión integral del recurso hídrico, así como la administración y aprovechamiento sustentable de los georecursos.
        </p>

        <p>
          <span>Valores Institucionales</span>
        </p>
        <ul class="unordered-list-about-us">
          <li>Promoción de la investigación geocientífica de calidad y pertinencia nacional.</li>
          <li>Transmitir a la sociedad los logros alcanzados con investigación geocientífica.</li>
          <li>Aprovechamiento sustentable de los georecusos.</li>
          <li>Fomentar el trabajo multidisciplinario, transdisciplinario e intradisciplinaria, con el fin del cumplimiento
            de los objetivos.</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-3 text-center">
      <br>
      <p>
        Si desea informarse más acerca del  Centro de Investigaciones en Ciencias Geológicas de la Universidad de
        Costa Rica puede visitar su sitio: <a class="genric-btn text-center info small" href="http://www.cicg.ucr.ac.cr/">Visitar la página del CICG</a>
      </p>
      </div>
    </div>
  </div>
</section>
<!-- End CICG area -->
<!-- Start developers area -->
<section class="feature-us-area relative pt-100 pb-20">
  <div class="overlay overlay-bg">
  </div>
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-6 col-md-6"><!--START CREDITS-->
          <div class="single-feature">
               <h1 class="text-white">Créditos</h1>
          </div>
      </div>
    </div>
    <hr style="height: 2px; background-color: white"> <br> <!--START ANDROID-->
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-6 col-md-6"><!--START WEB-->
        <div class="single-feature">
          <h2 class="text-white">Equipo de desarrollo Web</h2>
        </div>
      </div>
    </div>
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-4 col-md-6">
        <div class="single-feature">
          <h3 class="text-white">Jhosua Arias</h3>
            <a href="mailto:jhosuarqui@gmail.com">jhosuarqui@gmail.com</a><br>
            <a href="http://www.linkedin.com/in/jhosua-arias-quintero"><i class="fa-us fa-linkedin-square"></i></a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-feature">
          <h3 class="text-white">Carlos Gamboa</h3>
            <a href="mailto:carlos.gamboav19@gmail.com">carlos.gamboav19@gmail.com</a><br>
            <a href="http://cr.linkedin.com/in/carlos-gamboa-vargas-6a5414147"><i class="fa-us fa-linkedin-square"></i></a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-feature">
          <h3 class="text-white">Fernando Rojas</h3>
            <a href="mailto:ferojasmel@hotmail.com">ferojasmel@hotmail.com</a><br>
            <a href="http://www.linkedin.com/in/fernando-rojas-mel"><i class="fa-us fa-linkedin-square"></i></a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-feature">
          <h3 class="text-white">Ana Laura Vargas</h3>
            <a href="mailto:alauvargas@gmail.com">alauvargas@gmail.com</a><br>
            <a href="https://www.linkedin.com/in/ana-laura-vargas-355a17166/"><i class="fa-us fa-linkedin-square"></i></a>
        </div>
      </div>
    </div>
      <hr style="height: 2px; background-color: white"> <br> <!--START ANDROID-->
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-6 col-md-6">
          <div class="single-feature">
            <a href="#"><h2 class="text-white">Equipo de desarrollo Android</h2></a>
          </div>
        </div>
      </div>
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-4 col-md-6">
        <div class="single-feature">
          <h3 class="text-white">Benjamín Blanco</h3>
            <a href="mailto:crbenjminblanco@gmail.com">crbenjminblanco@gmail.com</a><br>
            <a href="http://linkedin.com/in/benjamín-blanco-rojas-389733140"><i class="fa-us fa-linkedin-square"></i></a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-feature">
          <h3 class="text-white">Pablo Madrigal</h3>
            <a href="mailto:pablomadrigalq@gmail.com">pablomadrigalq@gmail.com</a><br>
            <a href="http://www.linkedin.com/in/pablomadrigal"><i class="fa-us fa-linkedin-square"></i></a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-feature">
          <h3 class="text-white">Jorge Remón</h3>
            <a href="mailto:jorgeremonm@gmail.com">jorgeremonm@gmail.com</a><br>
            <a href="https://www.linkedin.com/in/jorge-remón/"><i class="fa-us fa-linkedin-square"></i></a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-feature">
          <h3 class="text-white">Daniel Varela</h3>
            <a href="mailto:daniel.varela.serrano@gmail.com">daniel.varela.serrano@gmail.com</a><br>
            <a href="https://www.linkedin.com/in/daniel-varela-720111129/"><i class="fa-us fa-linkedin-square"></i></a>
        </div>
      </div>
    </div>
      <hr style="height: 2px; background-color: white"> <br>
      <div class="row align-items-center justify-content-center">
          <div class="col-lg-6 col-md-6">
              <div class="single-feature">
                  <a href="#"><h2 class="text-white">Supervisor del Proyecto</h2></a>
              </div>
          </div>
      </div>
      <div class="row align-items-center justify-content-center">
          <div class="col-lg-4 col-md-6">
              <div class="single-feature">
                  <h3 class="text-white">Alan Calderón</h3>
                  <a href="mailto:alacalcasis@gmail.com">alacalcasis@gmail.com</a><br>
<!--                  <a href="http://linkedin.com/in/benjamín-blanco-rojas-389733140"><i class="fa-us fa-linkedin-square"></i></a>-->
              </div>
          </div>
      </div>
  </div>
</section>
<!-- End developers area -->

<!-- End about-us Area -->
<app-public-footer *ngIf="!user"></app-public-footer>
<app-footer *ngIf="user"></app-footer>