<app-public-header [activeTab]="1" *ngIf="!user"></app-public-header>
<app-header [activeTab]="2" *ngIf="user"></app-header>
<!-- start banner Area -->
<section class="banner-area relative" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">
          ¿Qué es un rally geológico?
        </h1>
        <p class="text-white link-nav"><a routerLink="/dashboard">Inicio </a>  <span class="lnr lnr-arrow-right"></span>
            <a routerLink="/instructions"> ¿Qué es un rally geológico?</a></p>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- Start Align Area -->
<div class="whole-wrap">

    <div class="section-top-border">
      <div class="container">
      <h3 class="mb-30">¿Qué es un rally geológico?</h3>
      <div class="box">
        <img src="{{assetsUrl}}../../assets/images/instructions/rally_instructions.PNG" alt="" class="img-fluid instruction-image">
        <span class="ml-4 text-justify">Un rally geológico es una aventura en realidad aumentada (AR). Donde se podrán conocer nuevos lugares (Soley, Cuajiniquil, La Cruz, El Jobo, entre otros), competir con amigos y aprender sobre los procesos geológicos que se han desarrollado en el noroeste de Costa Rica.<br>Un rally geológico consiste en una ruta con puntos de interés geológico y cultural. Cada ruta puede realizarse en un día y pueden requerir el empleo de vehículos todo terreno.</span>
      </div>
      </div>
    </div>
  <!------------------------------------- Section delimiter -------------------------------------------------->
    <div class="section-top-border text-right section-2">
      <div class="container">
      <h3 class="mb-30">Preparativos para tu aventura</h3>
      <div class="box">
        <span class="mr-4 text-justify">Para poder iniciar una GeoAventura se debe considerar lo siguiente:<br>
          Iniciar sesión desde la página de internet, mediante una cuenta de Gmail o Facebook y un nombre de usuario que sea fácil de recordar.<br>
          Se recomienda para la aventura un dispositivo Android 5.0 o superior. Descarga la aplicación desde aquí o escaneando el código QR al final de la página.
        </span>
        <img src="{{assetsUrl}}../../assets/images/instructions/qr_scanning.jpg" alt="" class="img-fluid instruction-image">
      </div>
    </div>
  </div>
  <!------------------------------------- Section delimiter -------------------------------------------------->
  <div class="section-top-border">
    <div class="container">
      <h3 class="mb-30">Inicia tu competencia</h3>
      <div class="box">
        <img src="{{assetsUrl}}../../assets/images/instructions/competition.jpg" alt="" class="img-fluid instruction-image">
        <span class="ml-4 text-justify">Rally GeoAventura presenta la posibilidad de jugar solo o con amigos. Para jugar en grupo es necesario crear una competencia e invitar a todos los posibles concursantes. Para esto se da acceso a la sección de “Crear competencia” y se eligen las ubicaciones que formarán parte de la competencia, con la selección de los cuadros respectivos. Una vez seleccionadas las ubicaciones, se nombra la competencia y se agrega una breve descripción.<br>
        ¡Importante! Marcar fechas de inicio y finalización de la competencia. También, se pueden realizar competencias públicas o privadas.</span>
      </div>
    </div>
  </div>
  <!------------------------------------- Section delimiter -------------------------------------------------->
  <div class="section-top-border text-right section-2">
    <div class="container">
      <h3 class="mb-30">Invitando a tus amigos</h3>
      <div class="box">
        <span class="mr-4 text-justify">
          Las invitaciones a GeoAventuras en conjunto se pueden realizar de dos formas:
          <ul class="unordered-list-about-us">
              <li>Al momento de la creación de una competencia invitando amigos de Facebook o Google+ que utilizan la aplicación.</li>
              <li>En el perfil de la competencia, mediante amigos de Facebook o Google+ que también usen la aplicación o con el nombre de usuario.</li>
          </ul>
        </span>
        <img src="{{assetsUrl}}../../assets/images/instructions/friends.jpg" alt="" class="img-fluid instruction-image">
      </div>
    </div>
  </div>
  <!------------------------------------- Section delimiter -------------------------------------------------->
  <div class="section-top-border">
    <div class="container">
      <h3 class="mb-30">Juega con todos</h3>
      <div class="box">
        <img src="{{assetsUrl}}../../assets/images/instructions/highfive.jpg" alt="" class="img-fluid instruction-image">
        <span class="ml-4 text-justify">
          En este juego se pueden crear competencias públicas o privadas. <br>
          Competencia pública: Ir a la página “Rallies”, donde se visualizan todas las competencias públicas, presionando el botón “Ir al Rally”, se podrá visitar la competencia y con presionar “Unirme”, ya serás participante de la diversión.<br>
          Competencia privada: En estas competencias solo se puede participar mediante invitación por parte del administrador de la misma.
        </span>
      </div>
    </div>
  </div>
</div>
<app-public-footer *ngIf="!user"></app-public-footer>
<app-footer *ngIf="user"></app-footer>
