<app-public-header></app-public-header>
<div class="login-background" *ngIf="readyToShow">
  <div class="wrap-login">
    <div class="row">

      <!-- Cambiar de contraseña -->
      <div class="col-sm-12 center" *ngIf="isForgot()">
        <h2 class="mb-60 text-center login-title">Recuperar contraseña</h2>
        <img class="mb-60 center login-icon" src="{{assetsUrl}}../../assets/images/login-icon.png" alt="Icono de Usuario">
        <div class="center text-center">
          <div >
            <form #forgotForm="ngForm">
              <div class="row mt-10 mb-10">
                <div class="col-lg-12 mt-3">
                  <label for="newPassword">Nueva contraseña</label>
                  <input class="text-input" type="password" [(ngModel)]="newPassword" #newPassInput="ngModel" id="newPassword" name="newPassword" placeholder="Contraseña nueva" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$" required>
                  <div *ngIf="newPassInput.invalid && (newPassInput.dirty || newPassInput.touched)"
                       class="alert alert-danger mt-2 ml-2 mr-2 text-center" role="alert">
                    <div *ngIf="newPassInput.errors.required">
                      <p class="alert-message mb-0">Debe introducir una nueva contraseña.</p>
                    </div>
                    <div *ngIf="newPassInput.errors.pattern">
                      <p class="alert-message mb-0">La contraseña debe ser de mínimo 6 caracteres, y poseer al menos una letra y un número.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 mt-3">
                  <label for="newPasswordVerify">Verificar nueva contraseña</label>
                  <input class="text-input" type="password" [(ngModel)]="newPasswordVerify" #newPassVerifyInput="ngModel" id="newPasswordVerify" name="newPasswordVerify" placeholder="Verificar nueva contraseña" required>
                  <div *ngIf="(!matchPasswords() || newPassVerifyInput.invalid) && (newPassVerifyInput.dirty || newPassVerifyInput.touched)"
                       class="alert alert-danger mt-2 ml-2 mr-2 text-center" role="alert">
                    <p class="alert-message mb-0">Las contraseñas no coinciden.</p>
                  </div>
                </div>
              </div>
            </form>

            <div class="mt-3" align="center">
              <button title="Cambiar contraseña" class="btn genric-btn primary col-lg-8 text-center" style="font-size: 16px; padding: 0" (click)="changePassword()" [disabled]="forgotForm.invalid">Cambiar contraseña</button>
              <div *ngIf="showMessage" class="alert col-lg-10 mt-10 text-center" role="alert" [class.alert-success]="messageType == 0" [class.alert-danger]="messageType == 1" [class.alert-info]="messageType == 2">
                {{alertMessage}}
                <a *ngIf="successful" class="txt2" routerLink="/sign-in">
                  Iniciar Sesión
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Token Inválido -->
      <div class="col-sm-12 center" *ngIf="isInvalid()">
        <h2 class="mb-60 text-center login-title">Link inválido</h2>
        <img class="mb-60 center login-icon" src="{{assetsUrl}}../../assets/images/login-icon.png" alt="Icono de Usuario">
        <div class="center text-center">
          <div >
            <h4 class="mb-3">Este link ya ha sido utilizado y ha vencido.</h4>
            <a class="txt2 mt-3" routerLink="/sign-in">
              Iniciar Sesión
            </a>
          </div>
        </div>
      </div>

      <!-- Token Inválido -->
      <div class="col-sm-12 center" *ngIf="isActivate()">
        <h2 class="mb-60 text-center login-title">Cuenta activada</h2>
        <img class="mb-60 center login-icon" src="{{assetsUrl}}../../assets/images/login-icon.png" alt="Icono de Usuario">
        <div class="center text-center">
          <div >
            <h4 class="mb-3">Gracias por unirte a Rally Geológico, has activado tu cuenta.</h4>
            <a class="txt2 mt-3" routerLink="/sign-in">
              Iniciar Sesión
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<app-public-footer></app-public-footer>

