<div *ngIf="readyToShow"><!-- start banner Area -->
<section class="banner-area relative" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">
          Competencia
        </h1>
        <p class="text-white link-nav"><a routerLink="/dashboard">Inicio </a>  <span class="lnr lnr-arrow-right"></span>  <a routerLink="/rallies"> Competencia</a></p>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<section class="contact-page-area section-gap">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <div class="text-center">
          <img class="competition-image mb-3" src="{{competition.rally.image_url}}">
          <h3 class="mb-3">{{competition.name}}</h3>
          <div *ngIf="competition.user.id == user.id">
            <button title="Modificar rally" class="genric-btn primary circle text-center info mb-3 medium">Modificar rally</button>
          </div>
          <p class="text-justify">{{competition.description}}</p>
          <h5 class="mb-3">Creado por: {{competition.user.username}}</h5>
          <div>
            <button title="Ir al perfil del creador" class="genric-btn info circle text-center info mb-3 medium">Ir al perfil</button>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-xs-12">
        <div class="myskills slideanim slide">
          <h3 class="text-center">Rally</h3>
          <p class="text-center">Información del rally</p>
          <div>
            <h3>Información</h3> <br>
            <ul>
              <li><strong>Estado:</strong> <span *ngIf="competition.is_active == 1" >Activo</span><span *ngIf="competition.is_active == 0" >Inactive</span></li>
              <li><strong>Creado en:</strong> {{competition.starting_date |  date:'MM/dd/yyyy'}}</li>
              <li><strong>Finaliza en:</strong> {{competition.finishing_date |  date:'MM/dd/yyyy'}}</li>
              <li><strong *ngIf="competition.is_public == 1">Público</strong><strong *ngIf="competition.is_public == 0">Privado</strong></li>
              <li><strong>Número actual de jugadores: </strong> {{statistics.length}}</li>
              <li><strong>Jugador con más puntos: </strong> {{statistics[0].user.username}} <i class="fa fa-trophy"></i></li>
            </ul>
            <div class="row mt-3" *ngIf="invitation">
              <div class="col-md-6 offset-3" *ngIf="invitation.accepted == 0 && invitation.rejected == 0">
                <div class="row">
                  <div class="col-md-6">
                    <button title="Aceptar" (click)="acceptInvitation()" class="genric-btn success circle btn-inv text-center">Aceptar</button>
                  </div>
                  <div class="col-md-6">
                    <button title="Rechazar" (click)="rejectInvitation()" class="genric-btn danger circle btn-inv text-center">Rechazar</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-3" *ngIf="notOnCompetition()">
              <div class="col-md-12">
                <button title="Unirse a la competencia" (click)="joinCompetition()" class="genric-btn success circle btn-inv text-center join-button">Unirse</button>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-12">
                <button title="Ver mapa interactivo de este rally" class="genric-btn circle primary text-center btn-inv join-button" routerLink="/rallies/{{competition.rally_id}}">Mapa interactivo</button>
              </div>
            </div>
            <hr>
            <h3>Estadísticas</h3> <br>
            <h4>Tabla de líderes</h4> <br>
            <div>
              <table class="table">
                <th>Usuario</th>
                <th>Puntos</th>
                <th>Fecha Inicio</th>
                <th>Perfil</th>
                <tbody *ngFor="let participant of statistics; let i = index">
                  <tr [class.selected-row] = "isUserStatisticClicked(i)" title="Haz click para ver más detalles">
                    <td (click)="userStatisticClicked(i)" class="cursor-pointer">
                      <div class="input-group">
                        <h4>{{participant.user.username}}</h4>
                        <span class="input-group-btn ml-2">
				          <i class="fa fa-angle-down"></i>
			            </span>
                      </div>
                    </td>
                    <td><h5>{{participant.points}}</h5></td>
                    <td><h5>{{participant.starting_date |  date:'MM/dd/yyyy'}}</h5></td>
                    <td><button title="Ir al perfil de este usuario" class="genric-btn circle text-center small" [class.info]="!isUserStatisticClicked(i)" [class.primary-border]="isUserStatisticClicked(i)">Ir al perfil</button></td>
                  </tr>
                  <tr *ngIf="isUserStatisticClicked(i)" class="selected-row-child">
                    <td colspan=4>
                      <h4 class="mt-3 mb-3">Sitios visitados</h4>
                      <table class="table">
                        <th>Sitio</th>
                        <th>Puntos Obtenidos</th>
                        <th>Fecha</th>
                        <tbody *ngFor="let site of participant.site">
                        <tr>
                          <td><h4>{{site.name}}</h4></td>
                          <td><h5>{{site.points}}</h5></td>
                          <td><h5>{{site._joinData.visited_date |  date:'MM/dd/yyyy'}}</h5></td>
                        </tr>
                        </tbody>
                      </table>
                      <h4 class="mt-3 mb-3">Actividades completadas</h4>
                      <table class="table">
                        <th>Actividad</th>
                        <th>Puntos Obtenidos</th>
                        <th>Fecha</th>
                        <tbody *ngFor="let activity of participant.activity">
                        <tr>
                          <td><h4>{{activity.name}}</h4></td>
                          <td><h5>{{activity._joinData.points_obtained}}</h5></td>
                          <td><h5>{{activity._joinData.resolved_date |  date:'MM/dd/yyyy'}}</h5></td>
                        </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="container" *ngIf="competition.user.id == user.id && competition.is_active == 1">
    <div class="row">
      <div class="offset-md-2 col-md-8 col-xs-12">
        <h3 class="text-center mb-3">Invitar usuarios a esta competencia</h3>
        <p class="text-center">Busque usuarios por nombre de usuario</p>
        <div class="busqueda" id="searchform">
          <input [(ngModel)]="searchQuery" type="text" title="Digite aquí el nombre del usuario" id="searchterm" placeholder="Digite el nombre de usuario" />
          <button type="button" id="search" title="Click aquí para buscar el usuario" (click)="searchUser()">¡Buscar!</button>
        </div>
        <div>
          <div>
            <h4>Resultados</h4> <br>
            <div>
              <table class="table">
                <tbody>
                <th>Foto</th>
                <th>Usuario</th>
                <th>Nombre</th>
                <th>Invitar</th>
                <tr *ngFor="let user of showedUsers; let i = index">
                  <td><img class="user-image" src="{{user.photo_url}}"></td>
                  <td><h5>{{user.username}}</h5></td>
                  <td><h4>{{user.first_name}} {{user.last_name}}</h4></td>
                  <td>
                      <button class="genric-btn circle text-center warning-border medium wide-button" [disabled]="true" *ngIf="invitedUsers.includes(user.id)">Invitado</button>
                      <button title="Invitar" class="genric-btn circle text-center warning medium wide-button" (click)="invite(i)" *ngIf="!invitedUsers.includes(user.id)">Invitar</button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="row">
              <div class="col-md-12 text-center">
                <div class="d-inline-block">
                  <ngb-pagination [collectionSize]="totalUsers" [(page)]="currentPage" [maxSize]="5" [pageSize]="pageSize" [rotate]="true"
                                  [ellipses]="true" [boundaryLinks]="false" (pageChange)="pageChange($event)"></ngb-pagination>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>