<app-public-header [activeTab]="0"></app-public-header>
<!-- start banner Area -->
<section class="banner-area relative" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row fullscreen d-flex align-items-center justify-content-start">
      <div class="banner-content col-lg-12">
        <h6>Introduciendo los Rallies Geológicos</h6>
        <span class="bar"></span>
        <h2 class="text-white mb-3 mt-3">
          Visita Costa Rica<br>
          Compite con amigos <br>
          Aprende sobre la Geología de Costa Rica
        </h2>
        <a routerLink="/instructions" class="genric-btn">Conoce más</a>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- Start about-video Area -->
<section class="about-video-area section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 about-video-left">
        <h6 class="text-uppercase text-justify">La nueva aplicación competitiva que te permite aprender mientras te diviertes</h6>
        <h1 class="text-center">
          ¿Deseas explorar las maravillas geológicas costarricenses?
        </h1>
        <p>
          <span>Descubre con tus amigos</span>
        </p>
        <p class="text-justify">La geología estudia las rocas que componen los planetas desde diversos puntos de vista: Composición, génesis y procesos que las atraviesan. Además, tiene dos enfoques: Aplicado y científico. Aplicado desde el aprovechamiento del recurso hídrico, prospección de materias primas metálicas y no metálicas, gestión del riesgo y planificación territorial. Científico en busca de la comprensión de los procesos que afectan la Tierra en el pasado, presente y futuro.</p>
        <p class="text-justify">Los rallies abarcan parte del Área de Conservación Guanacaste, los pueblos de Cuajiniquil y La Cruz, y sitios cercanos, comprendiendo rocas con edades de 130 millones de años (Cretácico) a la actualidad (Cuaternario). Además, algunos de estos territorios son declarados Patrimonio de la Humanidad (UNESCO, 1999, id N°928).</p>
        <p class="text-justify">El noroeste de Costa Rica se diferencia por sus amplios paisajes geológicos, que dan paso al desarrollo de gran biodiversidad de la fauna y flora. El empleo de los recursos naturales en parques nacionales es de preponderancia para la divulgación, la educación y el turismo local.</p>
        <p class="text-justify">La ampliación de la oferta económica en la zona es de gran apoyo para las actividades locales, basadas principalmente en la pesca. A partir del geoturismo se promueven: La recreación educativa y cultural, generación de empleo y la concientización acerca del rescate de valores patrimoniales, teniendo como base la geología y demás ciencias sustentadas a través de esta.</p>
        <p class="text-justify">Con el uso de la aplicación Rally GeoAventura se potencia el uso básico de diferentes herramientas de un teléfono inteligente a partir del uso de la brújula y la identificación de sitios de carácter histórico – cultural, al mismo tiempo de que se aprenden términos geológicos.</p>
        <a class="primary-btn" href="#">Comienza ahora</a>
      </div>
      <div class="col-lg-6 justify-content-center align-items-center d-flex">
        <img class="vertical-image" src="{{assetsUrl}}assets/images/piedraVertical.jpg">
      </div>
    </div>
  </div>
</section>
<!-- End about-video Area -->

<!-- Start latest-blog Area -->
<section class="latest-blog-area section-gap bg-blue" id="blog">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-60 col-lg-8">
        <div class="title text-center">
          <h1 class="mb-10 text-white">Últimos rallies añadidos</h1>
          <p class="text-gray">Destacando la geología de Guanacaste</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 single-blog" *ngFor="let rally of newestRallies">
        <img class="img-fluid" src="{{rally.image_url}}" alt="../../assets/images/elena.jpg">
        <ul class="tags">
          <li><a >Nuevo</a></li>
        </ul>
        <a href="#"><h4 class="text-white">{{rally.name}}</h4></a>
        <p class="text-gray">
          {{rally.description}}
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End latest-blog Area -->
<app-public-footer></app-public-footer>
