<app-admin-header [activeTab]="6"></app-admin-header>
<!-- Start banner Area -->
<section class="banner-area relative" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">
          Administrar Multimedia
        </h1>
        <p class="text-white link-nav"><a routerLink="/dashboard">Inicio </a>  <span class="lnr lnr-arrow-right"></span>  <a routerLink="/admin/multimedia">Administrar Multimedia</a></p>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<div *ngIf="readyToShow">

  <!-- Start choosing multimedia Area -->
  <section class="whole-wrap section-gap" *ngIf="!multimediaSelected">
    <div class="container">
      <div class="row">
        <div class="offset-md-2 col-md-8 col-xs-12">
          <h3 class="text-center mb-3">Seleccione multimedia</h3>
          <div class="busqueda" id="searchFormEdit">
            <input [(ngModel)]="searchQuery" type="text" title="Digite aquí el nombre asociado al multimedia" id="searchTermEdit" placeholder="Digite el nombre asociado al multimedia" />
            <button type="button" id="searchEdit" title="Click aquí para buscar multimedia" (click)="searchMultimedia()">Buscar</button>
          </div>
          <div class="text-center">
            <h4 class="mt-4 mb-0">Resultados</h4>
            <div class="mt-4 mb-4">
              <button title="Agregar nueva multimedia" class="invite-btn genric-btn text-center primary medium" (click)="edit(-1)">Crear multimedia</button>
            </div>
            <div>
              <table class="table">
                <thead>
                <th><h5 class="text-center">Nombre</h5></th>
                <th><h5 class="text-center">Imagen</h5></th>
                <th><h5 class="text-center">Editar</h5></th>
                <th><h5 class="text-center">Eliminar</h5></th>
                </thead>
                <tbody>
                <tr *ngFor="let multimedia of showedMultimedia; let i = index">
                  <td style="vertical-align: middle"><h5 class="text-center">{{multimedia?.name}}</h5></td>
                  <td style="vertical-align: middle"><div class="text-center"><img  style="width: 100px" src="{{multimedia?.media_url}}"></div></td>
                  <td style="vertical-align: middle">
                    <button title="Editar" class="invite-btn table-button genric-btn circle text-center warning medium" (click)="edit(i)">Editar</button>
                  </td>
                  <td style="vertical-align: middle">
                    <button title="Eliminar" class="invite-btn table-button genric-btn circle text-center danger medium" (click)="deleteMultimedia(multimedia.id, i)">Eliminar</button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="row">
              <div class="col-md-12 mt-10 text-center">
                <div class="d-inline-block">
                  <ngb-pagination [collectionSize]="totalMultimedia" [(page)]="currentPageMultimedia" [maxSize]="5" [pageSize]="pageSize" [rotate]="true"
                                  [ellipses]="true" [boundaryLinks]="false" (pageChange)="multimediaPageChange()"></ngb-pagination>
                </div>
              </div>
            </div>
            <div align="center">
              <div *ngIf="multimediaDeleted" class="alert col-lg-6 mt-10" role="alert" [class.alert-success]="messageType" [class.alert-danger]="!messageType">
                {{alertMessage}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End choosing Area -->

  <!-- Start tab Area -->
  <section class="whole-wrap section-gap pb-0" *ngIf="multimediaSelected">
    <div class="container">
      <div class="text-center">
        <button title="Volver a seleccionar" class="invite-btn genric-btn text-center medium info mb-4" (click)="goBack()">Cambiar de multimedia</button>
      </div>
      <div class="row">
        <div class="col-md-4">
          <button title="Detalles" class="invite-btn genric-btn text-center medium wide-button" [class.primary]="activeTab == 0" [class.primary-border]="activeTab != 0" (click)="changeTab(0)">Detalles del multimedia</button>
        </div>
        <div class="col-md-4">
          <button title="Términos" class="invite-btn genric-btn text-center medium wide-button" [disabled]="true" [class.primary]="activeTab == 1" [class.primary-border]="activeTab != 1" *ngIf="!currentMultimedia" (click)="changeTab(1)">Administrar términos</button>
          <button title="Términos" class="invite-btn genric-btn text-center medium wide-button" [disabled]="false" [class.primary]="activeTab == 1" [class.primary-border]="activeTab != 1" *ngIf="currentMultimedia" (click)="changeTab(1)">Administrar términos</button>
        </div>
        <div class="col-md-4">
          <button title="Actividades" class="invite-btn genric-btn text-center medium wide-button" [disabled]="true" [class.primary]="activeTab == 2" [class.primary-border]="activeTab != 2" *ngIf="!currentMultimedia" (click)="changeTab(2)">Administrar actividades</button>
          <button title="Actividades" class="invite-btn genric-btn text-center medium wide-button" [disabled]="false" [class.primary]="activeTab == 2" [class.primary-border]="activeTab != 2" *ngIf="currentMultimedia" (click)="changeTab(2)">Administrar actividades</button>
        </div>
      </div>
    </div>
  </section>
  <!-- End tab Area -->

  <!-- Start form Area -->
  <section class="whole-wrap section-gap" *ngIf="multimediaSelected && activeTab == 0">
    <div class="container">
      <div class="row">
        <div class="offset-md-2 col-md-8 col-xs-12">
          <h3 class="text-center mb-3">Detalles de multimedia</h3>
          <div class="booking-right mt-50" align="center">
            <form #multimediaForm="ngForm">
              <div class="row mt-10 mb-10 mr-0 ml-0">
                <div class="col-lg-6" align="center">
                  <label for="name">Nombre</label>
                  <input class="text-input" type="text" [(ngModel)]="name" #nameInput="ngModel" id="name" name="name" required>
                  <div *ngIf="(nameInput?.invalid) && (nameInput?.touched)" class="alert alert-danger mt-2 ml-2 mr-2" role="alert">
                    <p class="alert-message">Debe introducir un nombre.</p>
                  </div>
                </div>
                <div class="col-lg-6" align="center">
                  <label for="media_type">Tipo de media</label>
                  <select class="select-input" [(ngModel)]="media_type" #mediaTypeInput="ngModel" name="media_type" id="media_type" required>
                    <option value="0" selected>Imagen</option>
                    <!--<option value="1">Video</option>-->
                  </select>
                  <div *ngIf="(mediaTypeInput?.invalid) && (mediaTypeInput?.touched)" class="alert alert-danger mt-2 ml-2 mr-2" role="alert">
                    <p class="alert-message">Debe seleccionar el tipo de media.</p>
                  </div>
                </div>
              </div>
              <div class="row mt-10 mb-10 mr-0 ml-0">
                <div class="col-lg-12">
                  <label for="external_url">Fuente de la imagen</label>
                  <input class="text-input" type="text" [(ngModel)]="external_url" #ExternalUrlInput="ngModel" id="external_url" name="externalUrl">
                </div>
              </div>
              <div class="row mt-10 mb-10 mr-0 ml-0">
                <div class="col-lg-12">
                  <label for="media_url">Url de la imagen</label>
                  <input class="text-input" type="text" [(ngModel)]="media_url" #MediaUrlInput="ngModel" id="media_url" name="medialUrl" [disabled]="true">
                </div>
              </div>
              <div class="row mt-10 mb-20 mr-0 ml-0">
                <div class="col-lg-12">
                  <label for="media">Imagen</label>
                  <image-upload [style]="customStyle" id="media" #fileInput [max]="1" [extensions]="['jpeg','png', 'jpg', 'svg']" buttonCaption="Seleccione una imagen"
                                dropBoxMessage="O arrastre una imagen" clearButtonCaption="Quitar imagen" fileTooLargeMessage="Imagen demasiado grande" (uploadFinished)="onUploadChanged($event)" (removed)="onRemoved($event)" required></image-upload>
                  <div *ngIf="(fileInput?.invalid) && (fileInput?.touched)" class="alert alert-danger mt-2 ml-2 mr-2" role="alert">
                    <p class="alert-message">Debe seleccionar una imagen.</p>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="mt-50" align="center">
            <button title="Actualizar Multimedia" class="btn genric-btn success col-lg-6" style="font-size: 16px" (click)="saveChanges()" [disabled]="multimediaForm.invalid" *ngIf="newMultimedia|| currentMultimedia">Guardar cambios</button>
            <div *ngIf="changesSaved" class="alert col-lg-6 mt-10" role="alert" [class.alert-success]="messageType" [class.alert-danger]="!messageType">
              {{alertMessage}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End form Area -->

  <!-- Start terms Area -->
  <section class="whole-wrap section-gap pt-5" *ngIf="multimediaSelected && activeTab == 1">
    <div class="container">
      <div class="row mt-30">
        <div class="offset-md-2 col-md-8 col-xs-12">
          <h3 class="text-center mb-3">Seleccione el término</h3>
          <div class="busqueda" id="searchSiteForm">
            <input [(ngModel)]="searchTermQuery" type="text" title="Digite aquí el nombre del término" id="searchTermInput" placeholder="Digite el nombre del término" />
            <button type="button" id="searchTerm" title="Click aquí para buscar el término" (click)="searchTerm()">Buscar</button>
          </div>
          <h3 class="text-center mb-3">Resultados</h3>
          <div align="center">
            <div class="mt-10 mb-10">
              <table class="table">
                <thead>
                <th><h5 class="text-center">Nombre</h5></th>
                <th><h5 class="text-center">Agregar/Eliminar</h5></th>
                </thead>
                <tbody>
                <tr *ngFor="let term of showedTerms; let i = index">
                  <td class="text-center" style="vertical-align: middle"><h5 >{{term?.name}}</h5></td>
                  <td style="vertical-align: middle" align="center">
                    <button title="Eliminar" class="invite-btn table-button genric-btn circle text-center danger medium" *ngIf="belongsTo(term.id)" (click)="deleteTermMultimedia(i)">Eliminar</button>
                    <button title="Agregar" class="invite-btn table-button genric-btn circle text-center info medium" *ngIf="!belongsTo(term.id)" (click)="addTermMultimedia(i)">Agregar</button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mt-10 text-center">
              <div class="d-inline-block">
                <ngb-pagination [collectionSize]="totalTerms" [(page)]="currentPageTerm" [maxSize]="5" [pageSize]="pageTermSize" [rotate]="true"
                                [ellipses]="true" [boundaryLinks]="false" (pageChange)="termPageChange()"></ngb-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End terms Area -->

  <!-- Start activities Area -->
  <section class="whole-wrap section-gap pt-5" *ngIf="multimediaSelected && activeTab == 2">
    <div class="container">
      <div class="row mt-30">
        <div class="offset-md-2 col-md-8 col-xs-12">
          <h3 class="text-center mb-3">Seleccione la actividad</h3>
          <div class="busqueda" id="searchActivityForm">
            <input [(ngModel)]="searchActivityQuery" type="text" title="Digite aquí el nombre de la actividad" id="searchActivityInput" placeholder="Digite el nombre de la actividad" />
            <button type="button" id="searchActivity" title="Click aquí para buscar la actividad" (click)="searchActivity()">Buscar</button>
          </div>
          <h3 class="text-center mb-3">Resultados</h3>
          <div align="center">
            <div class="mt-10 mb-10">
              <table class="table">
                <thead>
                <th><h5 class="text-center">Nombre</h5></th>
                <th><h5 class="text-center">Agregar/Eliminar</h5></th>
                </thead>
                <tbody>
                <tr *ngFor="let activity of showedActivities; let i = index">
                  <td class="text-center" style="vertical-align: middle"><h5 >{{activity?.name}}</h5></td>
                  <td style="vertical-align: middle" align="center">
                    <button title="Eliminar" class="invite-btn table-button genric-btn circle text-center danger medium" *ngIf="activityBelongsTo(activity?.id)" (click)="deleteActivityMultimedia(i)">Eliminar</button>
                    <button title="Agregar" class="invite-btn table-button genric-btn circle text-center info medium" *ngIf="!activityBelongsTo(activity?.id)" (click)="addActivityMultimedia(i)">Agregar</button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mt-10 text-center">
              <div class="d-inline-block">
                <ngb-pagination [collectionSize]="totalActivities" [(page)]="currentPageActivity" [maxSize]="5" [pageSize]="pageActivitySize" [rotate]="true"
                                [ellipses]="true" [boundaryLinks]="false" (pageChange)="activityPageChange()"></ngb-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End activities Area -->

</div>
