<app-public-header [activeTab]="1" *ngIf="!user"></app-public-header>
<app-header [activeTab]="2" *ngIf="user"></app-header>
<!-- Start banner Area -->
<section class="banner-area relative" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">
          Buscar Rallies
        </h1>
        <p class="text-white link-nav"><a routerLink="/dashboard">Inicio </a>  <span class="lnr lnr-arrow-right"></span>  <a routerLink="/rallies">Buscar Rallies</a></p>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- Start list rallies Area -->
<section class="contact-page-area section-gap list-users">
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-md-8 col-xs-12">
        <h3 class="text-center mb-3">Busca rallies por nombre</h3>
        <div class="busqueda text-center" id="searchform">
          <input [(ngModel)]="searchQuery" type="text" title="Digite aquí el nombre del rally" id="searchterm" placeholder="Digite el nombre del rally" />
          <button type="button" id="search" title="Click aquí para buscar el rally" (click)="searchCompetition()">Buscar</button>
        </div>
        <div class="text-center">
          <h4 class="title">Resultados</h4> <br>
          <div>
            <table class="table">
              <thead>
              <th><h5 class="text-center">Nombre</h5></th>
              <th><h5 class="text-center">Puntos</h5></th>
              <th><h5 class="text-center">Ir a</h5></th>
              </thead>
              <tbody>
              <tr *ngFor="let rally of showedRallies let i = index">
                <td><h5 class="subtitle">{{rally.name}}</h5></td>
                <td><h4 class="subtitle">{{rally.points_awarded}}</h4></td>
                <td><button title="Ir a" class="genric-btn circle text-center warning medium" routerLink="/rallies/{{rally.id}}">Ir a</button></td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="col-md-12 mt-10 text-center">
              <div class="d-inline-block">
                <ngb-pagination [collectionSize]="totalRallies" [(page)]="currentPage" [maxSize]="5" [pageSize]="pageSize" [rotate]="true"
                                [ellipses]="true" [boundaryLinks]="false" (pageChange)="pageChange()"></ngb-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End list users Area -->
<app-public-footer *ngIf="!user"></app-public-footer>
<app-footer *ngIf="user"></app-footer>
