 <app-header [activeTab]="2"></app-header>
<!-- Start banner Area -->
<section class="banner-area relative" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">
          Buscar Competencias
        </h1>
        <p class="text-white link-nav"><a routerLink="/dashboard">Inicio </a>  <span class="lnr lnr-arrow-right"></span>  <a routerLink="/search-rallies">Buscar Competencias</a></p>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- Start list rallies Area -->
<section class="contact-page-area section-gap list-users">
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-md-8 col-xs-12">
        <h3 class="text-center mb-3">Busca competencias por nombre</h3>
        <div class="busqueda" id="searchform">
          <input [(ngModel)]="searchQuery" type="text" title="Digite aquí el nombre del la competencia" id="searchterm" placeholder="Digite el nombre de la competencia" />
          <button type="button" id="search" title="Click aquí para buscar la competencia" (click)="searchCompetition()">Buscar</button>
        </div>
        <div class="text-center">
          <h4 class="title">Resultados</h4> <br>
          <div style="overflow-x:auto;">
            <table class="table">
              <thead>
              <th><h5 class="text-center">Creador</h5></th>
              <th><h5 class="text-center">Nombre</h5></th>
              <th><h5 class="text-center">Rally</h5></th>
              <th><h5 class="text-center">Inicio</h5></th>
              <th><h5 class="text-center">Ir a</h5></th>
              </thead>
              <tbody>
              <tr *ngFor="let competition of showedCompetitions; let i = index">
                <td><h5 class="subtitle">{{competition.user.first_name}} {{competition.user.last_name}}</h5></td>
                <td><h5 class="subtitle">{{competition.name}}</h5></td>
                <td><h4 class="subtitle">{{competition.rally.name}}</h4></td>
                <td><h4 class="subtitle">{{competition.starting_date |  date:'MM/dd/yyyy'}}</h4></td>
                <td><button title="Ir a" class="genric-btn circle text-center warning medium" routerLink="/competition/{{competition.id}}">Ir a</button></td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="col-md-12 mt-10 text-center">
              <div class="d-inline-block">
                <ngb-pagination [collectionSize]="totalCompetitions" [(page)]="currentPage" [maxSize]="5" [pageSize]="pageSize" [rotate]="true"
                                [ellipses]="true" [boundaryLinks]="false" (pageChange)="pageChange()"></ngb-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End list users Area -->
