<app-header></app-header>
<!-- Start banner Area -->
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Rally:
                </h1>
                <h2 style="color: #ffffff;">{{rally?.name}}</h2>
                <p class="text-white link-nav"><a routerLink="/dashboard">Inicio </a>  <span class="lnr lnr-arrow-right"></span>  <a routerLink="/rallies/:rallyId">Rally</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

<!-- Start map Area-->
<section class="contact-page-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4 class="text-center"><b>Descripción:</b></h4>
                <p class="text-justify mt-4">{{rally?.description}}</p>
                <h5 class="text-center" style="display: inline"><b>Points: </b></h5>
                <p style="display: inline">{{rally?.points_awarded}}</p>
            </div>
            <div class="col-lg-8">
                <agm-map class="map" [latitude]="rally?.latitude" [longitude]="rally?.longitude" [zoom]="zoom">
                    <agm-marker [latitude]="site?.latitude" [longitude]="site?.longitude" *ngFor="let site of rally?.site;">
                        <!--<agm-info-window><a routerLink="/sites/:{{site.id}}">{{site.name}}</a></agm-info-window>-->
                        <agm-snazzy-info-window [maxWidth]="500" [closeWhenOthersOpen]="true">
                            <ng-template>
                                <h4 class="text-center"><a routerLink="/sites/:{{site.id}}">{{site.name}}</a></h4>
                                <!--<p class="text-justify mt-2">{{site.details}}</p>-->
                            </ng-template>
                        </agm-snazzy-info-window>
                    </agm-marker>
                    <!--<agm-polyline>-->
                        <!--<agm-polyline-point [latitude]="site?.latitude" [longitude]="site?.longitude" *ngFor="let site of rally?.site;"></agm-polyline-point>-->
                    <!--</agm-polyline>-->
                </agm-map>
            </div>
        </div>
    </div>
</section>
<!-- End map Area-->

<app-footer></app-footer>