<app-public-header *ngIf="!user"></app-public-header>
<app-header [activeTab]="2" *ngIf="user"></app-header>
<!-- Start banner Area -->
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Rally:
                </h1>
                <h2 style="color: #ffffff;">{{rally?.name}}</h2>
                <p class="text-white link-nav"><a routerLink="/dashboard">Inicio </a>  <span class="lnr lnr-arrow-right"></span>  <a routerLink="/rallies/{{rallyId}}">Rally</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

<!-- Start map Area-->
<section class="contact-page-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4 class="text-center"><b>Descripción:</b></h4>
                <p class="text-justify mt-4">{{rally?.description}}</p>
                <h5 class="text-center" style="display: inline"><b>Puntos: </b></h5>
                <p style="display: inline">{{rally?.points_awarded}}</p>

                <br><hr><br>
                <h4 class="text-center"><b>Estadísticas Totales:</b></h4><br>
                <p class="text-center" style="display: inline"><b>Usuarios con máxima cantidad de puntos: </b></p>
                <p style="display: inline">{{usersWithMaxPoints}}</p> <!--stat--><br>
                <p class="text-center" style="display: inline"><b>Total de competiciones: </b></p>
                <p style="display: inline">{{totalTotalCompetitions}}</p> <!--stat--><br>
                <p class="text-center" style="display: inline"><b>Total de usuarios: </b></p>
                <p style="display: inline">{{totalTotalUsers}}</p> <!--stat--><br>
                <p class="text-center" style="display: inline"><b>Puntaje máximo actual: </b></p>
                <p style="display: inline">{{totalMaxPoints}}</p> <!--stat--><br>
                <p class="text-center" style="display: inline"><b>Total de puntos hechos en este rally: </b></p>
                <p style="display: inline">{{totalTotalPoints}}</p> <!--stat-->
                <!--<p class="text-justify mt-4">{{rally?.description}}</p> &lt;!&ndash;stat&ndash;&gt;
                <p style="display: inline">{{rally?.points_awarded}}</p>--> <!--stat-->
                <br><hr><br>
                <h4 class="text-center"><b>Estadísticas En Competiciones Activas:</b></h4><br>
                <p class="text-center" style="display: inline"><b>Usuarios con máxima cantidad de puntos: </b></p>
                <p style="display: inline">{{activeUsersWithMaxPoints}}</p> <!--stat--><br>
                <p class="text-center" style="display: inline"><b>Total de competiciones: </b></p>
                <p style="display: inline">{{activeTotalCompetitions}}</p> <!--stat--><br>
                <p class="text-center" style="display: inline"><b>Total de usuarios: </b></p>
                <p style="display: inline">{{activeTotalUsers}}</p> <!--stat--><br>
                <p class="text-center" style="display: inline"><b>Puntaje máximo actual: </b></p>
                <p style="display: inline">{{activeMaxPoints}}</p> <!--stat--><br>
                <p class="text-center" style="display: inline"><b>Total de puntos hechos en este rally: </b></p>
                <p style="display: inline">{{activeTotalPoints}}</p> <!--stat-->
                <!--<p class="text-justify mt-4">{{rally?.description}}</p> &lt;!&ndash;stat&ndash;&gt;
                <p style="display: inline">{{rally?.points_awarded}}</p>--> <!--stat-->
            </div>
            <div class="col-lg-8 mt-4">
                <div class="title text-center mb-4">
                    <h2>Inspecciona el mapa en busca de sitios</h2>
                </div>
                <div class="text-center mb-4">
                    <p>Presione para conocer más de cada punto</p>
                </div>
                <agm-map class="map" [latitude]="rally?.latitude" [longitude]="rally?.longitude" [zoom]="zoom">
                    <agm-marker [latitude]="site?.latitude" [longitude]="site?.longitude" *ngFor="let site of rally?.site;">
                        <agm-snazzy-info-window [maxWidth]="400" [maxHeight]="400" [closeWhenOthersOpen]="true">
                            <ng-template class="window">
                                <div class="window">
                                    <a routerLink="/sites/{{site.id}}">
                                        <h5 class="text-center title"><b>{{site.name}}</b></h5>
                                        <p class="mt-1 snaggy-text text-justify">{{site.description.substring(0,70) + "..."}}</p>
                                    </a>
                                </div>
                            </ng-template>
                        </agm-snazzy-info-window>
                    </agm-marker>
                </agm-map>
            </div>
        </div>
    </div>
</section>
<!-- End map Area-->

<app-public-footer *ngIf="!user"></app-public-footer>
<app-footer *ngIf="user"></app-footer>
