<app-public-header [activeTab]="2" *ngIf="!user"></app-public-header>
<app-header [activeTab]="4" *ngIf="user"></app-header>
<!-- start banner Area -->
<section class="banner-area relative" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">
          Glosario
        </h1>
        <p class="text-white link-nav"><a routerLink="/landing">Inicio</a>  <span class="lnr lnr-arrow-right"></span>  <a routerLink="/glossary">Glosario</a></p>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->
<div *ngIf="readyToShow"><!-- start banner Area -->
  <div class="whole-wrap">
        <div class="text-center local-nav pt-10 pb-10"><span class="text-justify" *ngFor="let letterIndex of termKeys; let k = index">
            <a class="underline" [href]="'glossary#'+k">{{letterIndex}}</a>
        </span>
        </div>

    <div class="container">
      <article *ngFor="let letter of termKeys; let i = index"  class="section-top-border">

        <h3 id="{{i}}" class="letter-banner mb-30 text-left"><a class="fa fa-arrow-up" [href]="'glossary#home'"></a> {{letter}} </h3>

        <div class="row">
          <div *ngFor="let termItem of allTerms.get(letter); let j = index" class="col-sm-12 col-md-6 col-lg-4 booking-right mb-20">
            <img *ngIf=" termItem.multimedia.length != 0; else no_image" class="mb-30 center glossary-image" src="{{termItem.multimedia[0].media_url}}" alt="Icono de Término" width="280">
            <ng-template #no_image><img class="mb-30 center" src="{{assetsUrl}}assets/images/no-image.png" alt="No image" width="280"></ng-template>
            <div class="single-defination">
              <a routerLink="/glossary/{{termItem.id}}"><h4 class="mb-20 text-center link">{{termItem.name}}</h4></a>
              <p class="text-justify">{{termItem.description}} <a class="link" routerLink="/glossary/{{termItem.id}}">Ver más</a></p>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>