<app-public-header [activeTab]="2"></app-public-header>
<!-- start banner Area -->
<section class="banner-area relative" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">
          Glosario
        </h1>
        <p class="text-white link-nav"><a href="index.html">Inicio</a>  <span class="lnr lnr-arrow-right"></span>  <a href="contact.html">Glosario</a></p>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->
<div class="whole-wrap">
  <div class="container">
    <article class="section-top-border">
      <h3 class="mb-30">A</h3>
      <div class="row">
        <div class="col-md-4 booking-right mb-20">
          <img class="mb-30 center" src="img/nicoya.jpg" alt="Icono de Usuario" width="200">
          <div class="single-defination">
            <a href="#"><h4 style="color:#3366BB" class="mb-20 text-center">Definition 01</h4></a>
            <p>Recently, the US Federal government banned online casinos from operating in America by making it illegal to transfer money to them through any US bank or payment system. As a result of this law, most of the popular online casino networks</p>
          </div>
        </div>
        <div class="col-md-4 booking-right mb-20">
          <img class="mb-30 center" src="img/nicoya.jpg" alt="Icono de Usuario" width="200">
          <div class="single-defination">
            <a href="#"><h4 style="color:#3366BB" class="mb-20 text-center">Definition 02</h4></a>
            <p>Recently, the US Federal government banned online casinos from operating in America by making it illegal to transfer money to them through any US bank or payment system. As a result of this law, most of the popular online casino networks</p>
          </div>
        </div>
        <div class="col-md-4 booking-right mb-20">
          <img class="mb-30 center" src="img/nicoya.jpg" alt="Icono de Usuario" width="200">
          <div class="single-defination">
            <a href="#"><h4 style="color:#3366BB" class="mb-20 text-center">Definition 03</h4></a>
            <p>Recently, the US Federal government banned online casinos from operating in America by making it illegal to transfer money to them through any US bank or payment system. As a result of this law, most of the popular online casino networks</p>
          </div>
        </div>
      </div>
    </article>
    <article class="section-top-border">
      <h3 class="mb-30">B</h3>
      <div class="row">
        <div class="col-md-4 booking-right mb-20">
          <img class="mb-30 center" src="img/nicoya.jpg" alt="Icono de Usuario" width="200">
          <div class="single-defination">
            <a href="#"><h4 style="color:#3366BB" class="mb-20 text-center">Definition 01</h4></a>
            <p>Recently, the US Federal government banned online casinos from operating in America by making it illegal to transfer money to them through any US bank or payment system. As a result of this law, most of the popular online casino networks</p>
          </div>
        </div>
        <div class="col-md-4 booking-right mb-20">
          <img class="mb-30 center" src="img/nicoya.jpg" alt="Icono de Usuario" width="200">
          <div class="single-defination">
            <a href="#"><h4 style="color:#3366BB" class="mb-20 text-center">Definition 02</h4></a>
            <p>Recently, the US Federal government banned online casinos from operating in America by making it illegal to transfer money to them through any US bank or payment system. As a result of this law, most of the popular online casino networks</p>
          </div>
        </div>
        <div class="col-md-4 booking-right mb-20">
          <img class="mb-30 center" src="img/nicoya.jpg" alt="Icono de Usuario" width="200">
          <div class="single-defination">
            <a href="#"><h4 style="color:#3366BB" class="mb-20 text-center">Definition 03</h4></a>
            <p>Recently, the US Federal government banned online casinos from operating in America by making it illegal to transfer money to them through any US bank or payment system. As a result of this law, most of the popular online casino networks</p>
          </div>
        </div>
      </div>
    </article>
    <article class="section-top-border">
      <h3 class="mb-30">C</h3>
      <div class="row">
        <div class="col-md-4 booking-right mb-20">
          <img class="mb-30 center" src="img/nicoya.jpg" alt="Icono de Usuario" width="200">
          <div class="single-defination">
            <a href="#"><h4 style="color:#3366BB" class="mb-20 text-center">Definition 01</h4></a>
            <p>Recently, the US Federal government banned online casinos from operating in America by making it illegal to transfer money to them through any US bank or payment system. As a result of this law, most of the popular online casino networks</p>
          </div>
        </div>
        <div class="col-md-4 booking-right mb-20">
          <img class="mb-30 center" src="img/nicoya.jpg" alt="Icono de Usuario" width="200">
          <div class="single-defination">
            <a href="#"><h4 style="color:#3366BB" class="mb-20 text-center">Definition 02</h4></a>
            <p>Recently, the US Federal government banned online casinos from operating in America by making it illegal to transfer money to them through any US bank or payment system. As a result of this law, most of the popular online casino networks</p>
          </div>
        </div>
        <div class="col-md-4 booking-right mb-20">
          <img class="mb-30 center" src="img/nicoya.jpg" alt="Icono de Usuario" width="200">
          <div class="single-defination">
            <a href="#"><h4 style="color:#3366BB" class="mb-20 text-center">Definition 03</h4></a>
            <p>Recently, the US Federal government banned online casinos from operating in America by making it illegal to transfer money to them through any US bank or payment system. As a result of this law, most of the popular online casino networks</p>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>