<app-admin-header [activeTab]="5"></app-admin-header>
<!-- Start banner Area -->
<section class="banner-area relative" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">
          Administrar Distritos

        </h1>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->
<div *ngIf="readyToShow">
  <!-- Start choosing Area -->
  <section class="whole-wrap section-gap" *ngIf="!districtSelected">
    <div class="container">
      <div class="row">
        <div class="offset-md-2 col-md-8 col-xs-12">
          <h3 class="text-center mb-3">Seleccione el distrito que desea editar</h3>
          <div class="busqueda" id="searchFormEdit">
            <input [(ngModel)]="searchQuery" type="text" title="Digite aquí el nombre del district" id="searchdistrictEdit" placeholder="Digite el nombre del distrito" />
            <button type="button" id="searchEdit" title="Click aquí para buscar el sitio" (click)="searchDistrict()">Buscar</button>
          </div>
          <div class="text-center">
            <h4 class="mt-4 mb-0">Resultados</h4>
            <div class="mt-4 mb-4">
              <button title="Agregar nuevo" class="invite-btn genric-btn text-center primary medium" (click)="edit(-1)">Crear nuevo distrito</button>
            </div>
            <div style="overflow-x:auto;">
              <table class="table">
                <thead>
                <th><h5 class="text-center">Nombre</h5></th>
                <th><h5 class="text-center">Editar</h5></th>
                <th><h5 class="text-center">Eliminar</h5></th>
                </thead>
                <tbody>
                <tr *ngFor="let district of showedDistricts; let i = index">
                  <td style="vertical-align: middle"><h5 >{{district?.name}}</h5></td>
                  <td style="vertical-align: middle">
                    <button title="Editar" class="invite-btn genric-btn circle text-center warning medium" (click)="edit(i)">Editar</button>
                  </td>
                  <td style="vertical-align: middle">
                    <button title="Eliminar" class="invite-btn genric-btn circle text-center danger medium" (click)="deleteDistrict(district.id, i)">Eliminar</button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="row">
              <div class="col-md-12 mt-10 text-center">
                <div class="d-inline-block">
                  <ngb-pagination [collectionSize]="totalDistricts" [(page)]="currentPageDistrict" [maxSize]="5" [pageSize]="pageSize" [rotate]="true"
                                  [ellipses]="true" [boundaryLinks]="false" (pageChange)="districtPageChange($event)"></ngb-pagination>
                </div>
              </div>
            </div>
          </div>
          <div align="center">
            <div *ngIf="deleted" class="alert col-lg-6 mt-10 text-center" role="alert" [class.alert-success]="messageType" [class.alert-danger]="!messageType">
              {{alertMessage}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End choosing Area -->
  <!-- Start tab Area -->
  <section class="whole-wrap section-gap pb-0" *ngIf="districtSelected">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-6 offset-3">
          <button title="Volver a seleccionar" class="invite-btn genric-btn text-center medium info mb-4" (click)="goBack()">Cambiar de distrito</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 offset-2">
          <button title="Detalles" class="invite-btn genric-btn text-center medium wide-button" [class.primary]="activeTab == 0" [class.primary-border]="activeTab != 0">Detalles del distrito</button>
        </div>
      </div>
    </div>
  </section>
  <!-- End tab Area -->
  <!-- Start form Area -->
  <section class="whole-wrap section-gap pt-5" *ngIf="districtSelected && activeTab == 0">
    <div class="container">
      <div class="row">
        <div class="offset-md-2 col-md-8 col-xs-12">
          <h3 class="text-center mb-3">Detalles del distrito</h3>
          <div class="booking-right mt-50" align="center">
            <form #districtForm="ngForm">
              <div class="row mt-10 mb-10">
                <div class="col-lg-12">
                  <label for="name">Nombre</label>
                  <input class="text-input" type="text" [(ngModel)]="name" #nameInput="ngModel" id="name" name="name" placeholder="Nombre del distrito" required>
                  <div *ngIf="(nameInput?.invalid) && (nameInput?.touched)" class="alert alert-danger mt-2 ml-2 mr-2" role="alert">
                    <p class="alert-message">Debe introducir un nombre para el distrito.</p>
                  </div>
                </div>
              </div>
              <div class="row mb-10">
                <div class="col-lg-12" align="center">
                    <label for="canton_id">Cantón</label>
                    <select class="select-input" [(ngModel)]="canton_id" #selectCanton="ngModel" id="canton_id" name="canton_id" required>
                        <option *ngFor="let canton of allCantons" [value]="canton.id">
                            {{canton.name}}
                        </option>
                    </select>
                </div>
              </div>
            </form>
          </div>
          <div class="mt-50" align="center">
            <button title="Crear district" class="btn genric-btn success col-lg-6" style="font-size: 16px" (click)="saveChanges()" [disabled]="districtForm.invalid" *ngIf="newDistrict || currentDistrict">Guardar cambios</button>
            <div *ngIf="changesSaved" class="alert col-lg-6 mt-10" role="alert" [class.alert-success]="messageType" [class.alert-danger]="!messageType">
              {{alertMessage}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End form Area -->
</div>