<!-- Start banner Area -->
<section class="banner-area relative" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">
          Administrar Términos
        </h1>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->
<div *ngIf="readyToShow">
  <!-- Start choosing Area -->
  <section class="whole-wrap section-gap" *ngIf="!termSelected">
    <div class="container">
      <div class="row">
        <div class="offset-md-2 col-md-8 col-xs-12">
          <h3 class="text-center mb-3">Seleccione el término que desea editar</h3>
          <div class="busqueda" id="searchFormEdit">
            <input [(ngModel)]="searchQuery" type="text" title="Digite aquí nombre del término" id="searchTermEdit" placeholder="Digite el nombre del término" />
            <button type="button" id="searchEdit" title="Click aquí para buscar el usuario" (click)="searchTerm()">Buscar</button>
          </div>
          <div class="text-center">
            <h4 class="mt-4 mb-0">Resultados</h4>
            <div class="mt-4 mb-4">
              <button title="Agregar nueva" class="invite-btn genric-btn text-center primary medium" (click)="edit(-1)">Crear nuevo Termino</button>
            </div>
            <div>
              <table class="table">
                <thead>
                <th><h5 class="text-center">Nombre</h5></th>
                <th><h5 class="text-center">Editar</h5></th>
                </thead>
                <tbody>
                <tr *ngFor="let term of showedTerms; let i = index">
                  <td><h5 >{{term?.name}}</h5></td>
                  <td>
                    <button title="Editar" class="invite-btn genric-btn circle text-center warning medium wide-button" (click)="edit(i)">Editar</button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="row">
              <div class="col-md-12 mt-10 text-center">
                <div class="d-inline-block">
                  <ngb-pagination [collectionSize]="totalTerms" [(page)]="currentPageTerm" [maxSize]="5" [pageSize]="pageSize" [rotate]="true"
                                  [ellipses]="true" [boundaryLinks]="false" (pageChange)="termPageChange($event)"></ngb-pagination>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End choosing Area -->
</div>
