<!-- Start banner Area -->
<section class="banner-area relative" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">
          Administrar Cantones
        </h1>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->
<div *ngIf="readyToShow">
  <!-- Start choosing Area -->
  <section class="whole-wrap section-gap" *ngIf="!cantonSelected">
    <div class="container">
      <div class="row">
        <div class="offset-md-2 col-md-8 col-xs-12">
          <h3 class="text-center mb-3">Seleccione el cantón que desea editar</h3>
          <div class="busqueda" id="searchFormEdit">
            <input [(ngModel)]="searchQuery" type="text" title="Digite aquí el nombre de la competencia" id="searchTermEdit" placeholder="Digite el nombre de la competencia" />
            <button type="button" id="searchEdit" title="Click aquí para buscar la competencia" (click)="searchCanton()">Buscar</button>
          </div>
          <div class="text-center">
            <h4 class="mt-4 mb-0">Resultados</h4>
            <div class="mt-4 mb-4">
              <button title="Agregar nueva" class="invite-btn genric-btn text-center primary medium" (click)="edit(-1)">Crear nueva competencia</button>
            </div>
            <div>
              <table class="table">
                <thead>
                <th><h5 class="text-center">Nombre Cantón</h5></th>
                <th><h5 class="text-center">Nombre Provincia</h5></th>

                </thead>
                <tbody>
                <tr *ngFor="let canton of showedCantons; let i = index">
                  <td><h5 >{{canton?.name}}</h5></td>
                  <td><h5 >{{canton?.province.name}}</h5></td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="row">
              <div class="col-md-12 mt-10 text-center">
                <div class="d-inline-block">
                  <ngb-pagination [collectionSize]="totalCompetitions" [(page)]="currentPageCompetition" [maxSize]="5" [pageSize]="pageSize" [rotate]="true"
                                  [ellipses]="true" [boundaryLinks]="false" (pageChange)="cantonPageChange($event)"></ngb-pagination>
                </div>
              </div>
            </div>
            <div align="center">
              <div *ngIf="deleted" class="alert col-lg-6 mt-10 text-center" role="alert" [class.alert-success]="messageType" [class.alert-danger]="!messageType">
                {{alertMessage}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End choosing Area -->

  <!-- Start tab Area -->
  <section class="whole-wrap section-gap pb-0" *ngIf="cantonSelected">
    <div class="container">
      <div class="text-center">
        <button title="Volver a seleccionar" class="invite-btn genric-btn text-center medium info mb-4" (click)="goBack()">Cambiar de competencia</button>
      </div>
      <div class="row">
        <div class="col-md-6">
          <button title="Detalles" class="invite-btn genric-btn text-center medium wide-button" [class.primary]="activeTab == 0" [class.primary-border]="activeTab != 0" (click)="changeTab(0)">Detalles de la competencia</button>
        </div>
      </div>
    </div>
  </section>
  <!-- End tab Area -->

  <!-- Start form Area -->
  <section class="whole-wrap section-gap pt-5" *ngIf="cantonSelected && activeTab == 0">
    <div class="container">
      <div class="row">
        <div class="offset-md-2 col-md-8 col-xs-12">
          <h3 class="text-center mb-3">Detalles de la competencia</h3>
          <div class="booking-right mt-50" align="center">
            <form #competitionForm="ngForm">
              <div class="row mt-10 mb-10">
                <div class="col-lg-12">
                  <label for="name">Nombre</label>
                  <input class="text-input" type="text" [(ngModel)]="name" #nameInput="ngModel" id="name" name="name" placeholder="Nombre de la competencia" required>
                  <div *ngIf="(nameInput?.invalid) && (nameInput?.touched)" class="alert alert-danger mt-2 ml-2 mr-2" role="alert">
                    <p class="alert-message">Debe introducir un nombre para la competencia.</p>
                  </div>
                </div>
              </div>
              <div class="row mb-10">
                <div class="col-lg-6 mb-3">
                  <label for="is_active">Estado</label>
                  <select class="select-input" [(ngModel)]="is_active" #isActiveInput="ngModel" name="is_active" id="is_active" required>
                    <option value="1" selected>Activo</option>
                    <option value="0">Inactivo</option>
                  </select>
                  <div *ngIf="(isActiveInput?.invalid) && (isActiveInput?.touched)" class="alert alert-danger mt-2 ml-2 mr-2" role="alert">
                    <p class="alert-message">Debe seleccionar el estado de la competencia.</p>
                  </div>
                </div>
                <div class="col-lg-6 mb-3">
                  <label for="admin_id">Administrador</label>
                  <select class="select-input" [(ngModel)]="admin_id" #AdminIdInput="ngModel" name="admin_id" id="admin_id" required>
                    <option *ngFor="let user of allcantons" value="{{user.id}}">{{user.name}}</option>
                  </select>
                  <div *ngIf="(AdminIdInput?.invalid) && (AdminIdInput?.touched)" class="alert alert-danger mt-2 ml-2 mr-2" role="alert">
                    <p class="alert-message">Debe seleccionar el administrador de la competencia.</p>
                  </div>
                </div>
                <div class="col-lg-6 mb-3">
                  <label for="starting_date">Fecha de Inicio</label>
                  <input class="date-input" type="datetime-local" [(ngModel)]="starting_date" #startingDateInput="ngModel" name="starting_date" id="starting_date" required><br>
                  <div *ngIf="(startingDateInput?.invalid) && (startingDateInput?.touched)" class="alert alert-danger mt-2 ml-2 mr-2" role="alert">
                    <p class="alert-message">Debe escoger una fecha de inicio para la competencia.</p>
                  </div>
                </div>
                <div class="col-lg-6 mb-3">
                  <label for="finishing_date">Fecha de Finalización</label>
                  <input class="date-input" type="datetime-local" [(ngModel)]="finishing_date" #finishingDateInput="ngModel" id="finishing_date" name="finishing_date"  required><br>
                  <div *ngIf="(finishingDateInput?.invalid) && (finishingDateInput?.touched)" class="alert alert-danger mt-2 ml-2 mr-2" role="alert">
                    <p class="alert-message">Debe escoger una fecha de finalización para la competencia.</p>
                  </div>
                </div>
                <div class="col-lg-6" align="center">
                  <label for="is_public">Privacidad</label>
                  <select class="select-input" [(ngModel)]="is_public" #isPubliceInput="ngModel" name="is_public" id="is_public" required>
                    <option value="1" selected>Público</option>
                    <option value="0">Privado</option>
                  </select>
                  <div *ngIf="(isPubliceInput?.invalid) && (isPubliceInput?.touched)" class="alert alert-danger mt-2 ml-2 mr-2" role="alert">
                    <p class="alert-message">Debe seleccionar la privacidad de la competencia.</p>
                  </div>
                </div>
                <div class="col-lg-6" align="center">
                  <label for="rally_id">Rally asociado</label>
                  <select class="select-input" [(ngModel)]="rally_id" #rallyIdInput="ngModel" name="rally_id" id="rally_id" required>
                    <option *ngFor="let rally of allCantons" value="{{rally.id}}">{{rally.name}}</option>
                  </select>
                  <div *ngIf="(rallyIdInput?.invalid) && (rallyIdInput?.touched)" class="alert alert-danger mt-2 ml-2 mr-2" role="alert">
                    <p class="alert-message">Debe seleccionar un rally para la competencia.</p>
                  </div>
                </div>
              </div>
              <div class="row mb-10">
                <div class="col-lg-12" align="center">
                  <label for="description">Descripción</label>
                  <textarea class="text-input text-area" [(ngModel)]="description" #descriptionInput="ngModel" id="description" name="description" placeholder="Descripción de la competencia"> </textarea>
                </div>
              </div>
            </form>
          </div>
          <div class="mt-50" align="center">
            <button title="Crear Competencia" class="btn genric-btn success col-lg-6" style="font-size: 16px" (click)="saveChanges()" [disabled]="competitionForm.invalid" *ngIf="newCompetition || currentCompetition">Guardar cambios</button>
            <div *ngIf="changesSaved" class="alert col-lg-6 mt-10" role="alert" [class.alert-success]="messageType" [class.alert-danger]="!messageType">
              {{alertMessage}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End form Area -->
</div>